<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOVIES</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar">
      <h1>MOVIES</h1>
      <ul>
        <li><a href="/ruta/homepage">HOMEPAGE</a></li>
        <li><a href="/ruta/akteri">ACTORS</a></li>
      </ul>

    </nav>
    <!-- <main>
      <h3>This is home page</h3>
    </main> -->
<div class="table-container">
    <table border="1" width="100%">
      <tr>
        <th>ID</th>
        <th>poster</th>
        <th>NAME</th>
        <th>YEAR</th>
        <th>genre</th>
        <th>actors</th>
        <th>boxOffice</th>
      </tr>
      <% filmovi.forEach(s => { %>
      <tr>
        <td><%= s.id %></td>
        <td><img src="<%= s.poster %>" alt="" border=3 height=100 width=100></img></td>
        <td><%= s.title %></td>
        <td><%= s.year %></td>
        <td><%= s.genre %></td>
        <td><%= s.actors %></td>
        <td><%= s.boxOffice %></td>
      </tr>
      <% }) %>
    </table>
  </div>
  </body>
</html>
<!-- HTML CSSResult Skip Results Iframe EDIT ON -->
