  <div class="table-container">
        <table border="1" width="100%">
          <tr>
            <th>ID</th>
            <th>poster</th>
            <th>NAME</th>
            <th>YEAR</th>
            <th>genre</th>
            <th>actors</th>
            <th>boxOffice</th>
          </tr>
          <% filmovi.forEach(s => { %>
            <tr>
              <td><%= s.id %></td>
              <td><img src="<%= s.poster %>" alt="" border=3 height=100 width=100></img></td>
              <td><%= s.title %></td>
              <td><%= s.year %></td>
              <td><%= s.genre %></td>
              <td><%= s.actors %></td>
              <td><%= s.boxOffice %></td>
            </tr>
            <% }) %>
          </table>
        </div>