<div class="maininfo-container">
  <div class="info-left-container">
    <img class="img-tag" src="<%=movie.image%>" height="100%" width="100%" />
  </div>
  <div class="title-container">
    <h2><%=movie.title%> (<%=movie.year %>)</h2>
    <h4><%=movie.story %></h4>
    <h4>Genre:<%=movie.triller %></h4>
  </div>
  <div><p>RATING (<%=movie.rating %>) ⭐</p></div>
  <div></div>
  <div></div>
</div>
